<footer id="foot" class="row-fluid mt-5">
  <div id="principal">
      <div class="row">
          <div class="col-md-6">
              <p>Redes Sociais:</p>
              <a href=""><i class="fab fa-instagram" id="social"> SuyanneCandido</i></a>
              <br>
              <a href=""><i class="fab fa-facebook" id="social"> Facebook</i></a>
          </div>
          <div class="col-md-6" id="desenv">
              <div class="row">
                  <div class="col-md-4">
                      <a><strong>Desenvolvedora:</strong> <a href=""><i class="fab fa-linkedin"></i> Suyanne Candido</a></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div id="rodape" class="container">
      <div class="row">
          <div class="col-md-6 text-left">
              <p>Todos os direitos reservados &copy; 2021</p>
          </div>
          <div class="col-md-6 d-flex text-right">
              <p>Desenvolvido com amor por</p>
              <p class="linha-vertical"></p>
              <p>Suy <3</p>
          </div>
      </div>
  </div>
</footer>
